.video{
margin: auto;
}
@media all and (orientation: landscape){
#webPlayer{
border: solid 20px #505B61;
margin: 0 auto 0 auto;
}
.box1{
float: left;
width: 8.333333%;
height: 14.814814817%;
}
@media all and (max-width:1920px){
#webPlayer{
width:960px;
height:540px;
font-size:12.0pt;
}
.video{
width:920px;
height:500px;
}
.control{
width:42.0pt;
height:42.0pt;
}
.controls{
height:60.0pt;
}
.icono{
font-size:12.0pt;
}
.title{
font-size:12.0pt;
}
}
@media all and (max-width:1600px){
#webPlayer{
width:842px;
height:473px;
font-size:10.5274pt;
}
.video{
width:802px;
height:433px;
}
.control{
width:36.8459pt;
height:36.8459pt;
}
.controls{
height:52.637pt;
}
.icono{
font-size:10.5274pt;
}
.title{
font-size:10.5274pt;
}
}
@media all and (max-width:1366px){
#webPlayer{
width:755px;
height:424px;
font-size:9.438035500000002pt;
}
.video{
width:715px;
height:384px;
}
.control{
width:33.03312425000001pt;
height:33.03312425000001pt;
}
.controls{
height:47.190177500000004pt;
}
.icono{
font-size:9.438035500000002pt;
}
.title{
font-size:9.438035500000002pt;
}
}
@media all and (max-width:1334px){
#webPlayer{
width:772px;
height:434px;
font-size:9.65665925pt;
}
.video{
width:732px;
height:394px;
}
.control{
width:33.798307375pt;
height:33.798307375pt;
}
.controls{
height:48.28329625000001pt;
}
.icono{
font-size:9.65665925pt;
}
.title{
font-size:9.65665925pt;
}
}
@media all and (max-width:1280px){
#webPlayer{
width:775px;
height:435px;
font-size:9.68768pt;
}
.video{
width:735px;
height:395px;
}
.control{
width:33.90688pt;
height:33.90688pt;
}
.controls{
height:48.4384pt;
}
.icono{
font-size:9.68768pt;
}
.title{
font-size:9.68768pt;
}
}
@media all and (max-width:1136px){
#webPlayer{
width:717px;
height:404px;
font-size:8.97227pt;
}
.video{
width:677px;
height:364px;
}
.control{
width:31.402945pt;
height:31.402945pt;
}
.controls{
height:44.86135pt;
}
.icono{
font-size:8.97227pt;
}
.title{
font-size:8.97227pt;
}
}
@media all and (max-width:1024px){
#webPlayer{
width:674px;
height:394px;
font-size:8.425216pt;
}
.video{
width:634px;
height:354px;
}
.control{
width:29.488256000000003pt;
height:29.488256000000003pt;
}
.controls{
height:42.12608pt;
}
.icono{
font-size:8.425216pt;
}
.title{
font-size:8.425216pt;
}
}
@media all and (max-width:1024px){
#webPlayer{
width:701px;
height:394px;
font-size:8.762752pt;
}
.video{
width:661px;
height:354px;
}
.control{
width:30.669632000000004pt;
height:30.669632000000004pt;
}
.controls{
height:43.81376pt;
}
.icono{
font-size:8.762752pt;
}
.title{
font-size:8.762752pt;
}
}
@media all and (max-width:960px){
#webPlayer{
width:682px;
height:383px;
font-size:8.53152pt;
}
.video{
width:642px;
height:343px;
}
.control{
width:29.86032pt;
height:29.86032pt;
}
.controls{
height:42.6576pt;
}
.icono{
font-size:8.53152pt;
}
.title{
font-size:8.53152pt;
}
}
@media all and (max-width:854px){
#webPlayer{
width:629px;
height:353px;
font-size:7.870997750000001pt;
}
.video{
width:589px;
height:313px;
}
.control{
width:27.548492125000003pt;
height:27.548492125000003pt;
}
.controls{
height:39.354988750000004pt;
}
.icono{
font-size:7.870997750000001pt;
}
.title{
font-size:7.870997750000001pt;
}
}
@media all and (max-width:848px){
#webPlayer{
width:647px;
height:366px;
font-size:8.095220000000001pt;
}
.video{
width:607px;
height:326px;
}
.control{
width:28.333270000000006pt;
height:28.333270000000006pt;
}
.controls{
height:40.4761pt;
}
.icono{
font-size:8.095220000000001pt;
}
.title{
font-size:8.095220000000001pt;
}
}
@media all and (max-width:640px){
#webPlayer{
width:505px;
height:284px;
font-size:6.32056pt;
}
.video{
width:465px;
height:244px;
}
.control{
width:22.12196pt;
height:22.12196pt;
}
.controls{
height:31.602800000000002pt;
}
.icono{
font-size:6.32056pt;
}
.title{
font-size:6.32056pt;
}
}
@media all and (max-width:480px){
#webPlayer{
width:391px;
height:191px;
font-size:4.89864pt;
}
.video{
width:351px;
height:151px;
}
.control{
width:17.14524pt;
height:17.14524pt;
}
.controls{
height:24.4932pt;
}
.icono{
font-size:4.89864pt;
}
.title{
font-size:4.89864pt;
}
}
}
@media all and (orientation: portrait){
#webPlayer{
border: solid 20px #ffff00;
margin: 0 auto 0 auto;
}
.box1{
float: left;
width: 8.333333%;
height: 14.814814817%;
}
@media all and (max-width:1920px){
#webPlayer{
width:1344px;
height:756px;
font-size:16.8pt;
}
.video{
width:1304px;
height:716px;
}
}
@media all and (max-width:1600px){
#webPlayer{
width:1162px;
height:653px;
font-size:14.5274pt;
}
.video{
width:1122px;
height:613px;
}
}
@media all and (max-width:1366px){
#webPlayer{
width:1028px;
height:578px;
font-size:12.853035499999999pt;
}
.video{
width:988px;
height:538px;
}
}
@media all and (max-width:1334px){
#webPlayer{
width:1039px;
height:584px;
font-size:12.991659250000001pt;
}
.video{
width:999px;
height:544px;
}
}
@media all and (max-width:1280px){
#webPlayer{
width:1031px;
height:579px;
font-size:12.88768pt;
}
.video{
width:991px;
height:539px;
}
}
@media all and (max-width:1136px){
#webPlayer{
width:944px;
height:532px;
font-size:11.81227pt;
}
.video{
width:904px;
height:492px;
}
}
@media all and (max-width:1024px){
#webPlayer{
width:878px;
height:514px;
font-size:10.985216pt;
}
.video{
width:838px;
height:474px;
}
}
@media all and (max-width:1024px){
#webPlayer{
width:905px;
height:509px;
font-size:11.322752pt;
}
.video{
width:865px;
height:469px;
}
}
@media all and (max-width:960px){
#webPlayer{
width:874px;
height:491px;
font-size:10.93152pt;
}
.video{
width:834px;
height:451px;
}
}
@media all and (max-width:854px){
#webPlayer{
width:800px;
height:449px;
font-size:10.00599775pt;
}
.video{
width:760px;
height:409px;
}
}
@media all and (max-width:848px){
#webPlayer{
width:817px;
height:462px;
font-size:10.215219999999999pt;
}
.video{
width:777px;
height:422px;
}
}
@media all and (max-width:640px){
#webPlayer{
width:633px;
height:356px;
font-size:7.92056pt;
}
.video{
width:593px;
height:316px;
}
}
@media all and (max-width:480px){
#webPlayer{
width:487px;
height:237px;
font-size:6.0986400000000005pt;
}
.video{
width:447px;
height:197px;
}
}
}
